@import '@styles/vars';

.button {
  width: 330px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.default {
  height: 64px;
  background-color: $button;
  box-shadow: 2px 2px 6px 0px #543c9740;
  border-radius: 16px;
  border: 1px solid $buttonBorder;
  position: relative;

  p {
    position: relative;
    z-index: 1;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: $gradientMain;
    border-radius: inherit;
    opacity: 0;
    transition: all 0.4s ease;
    z-index: 0;
  }

  &:hover,
  &:active {
    border: none;

    &::before {
      opacity: 1;
    }

    p {
      color: $white;
    }
  }
}

.white {
  height: 50px;
  background-color: $white;
  box-shadow: 0px 4px 4px 0px #d8d6d640;
  border-radius: 12px;
  transition: all 0.4s ease;
  border: none;

  p {
    color: $violet;
  }

  &:hover,
  &:active {
    background-color: $button;
  }
}
