// media
$lg: 1170px;

// fonts
$primaryFont: 'Open Sans', sans-serif;

// colors
$background: #fff0f0;
$heading: #333333;
$text: #201f1f;
$button: #eaeef7;
$buttonBorder: #e0e0e0;
$white: #fbfbff;
$violet: #6a3aa2;

//gradients
$gradientMain: linear-gradient(
  165.54deg,
  #141333 -33.39%,
  #202261 15.89%,
  #543c97 55.84%,
  #6939a2 74.96%
);
